.homeleft-container{
    width: 35%;
    margin: 20px 200px;
}

.homeleft-container p{
    color: #6c757d;
    font-size: .75rem;
    margin-bottom: 1rem;
    text-align: center;
}

.homeleft-container input{
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgba(0,0,0,.1);
    color: #6c757d;
    font-size: 1rem;
    height: 2rem;
    outline: none;
    padding: 1rem 1rem 1rem 3rem;
    width: calc(100% - 4rem);
}